
@{
    ViewBag.Title = "Tpp";
}



<table class="table">
    <tr>
        <td>
            @Html.ActionLink("Материалы", "MaterialsList")
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Оборудование", "EquipmentList")
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Оснастки", "RiggingList")
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Переходы", "TransitionList")
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Операции", "OperationList")
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Технологические процессы", "TechnologicalProcessesList")
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Маршруты", "RouteList")
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Маршрутные карты", "RouteCardList")
        </td>
    </tr>
</table>