@model IEnumerable<SP_MVC.Material>

@{
    ViewBag.Title = "MaterialsList2";
}

<h2>MaterialsList2</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Assortment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DesignOfStandard)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Assortment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DesignOfStandard)
        </td>
        <td>
            @Html.ActionLink("Delete", "DeleteMaterial", new { id=item.MaterialId })
        </td>
    </tr>
}

</table>

@{Html.RenderPartial("AddMaterial", new SP_MVC.Material());}