@model IEnumerable<SP_MVC.Models.RouteCarTableViewModel>

@{
    ViewBag.Title = "RouteCardList";
}

<h2>RouteCardList</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Route.NameTechProc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeveloperName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckedName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgreedName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApprovedName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NormСontrollerName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Route.NameTechProc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeveloperName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckedName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgreedName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApprovedName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NormСontrollerName)
        </td>
        <td>
            @Html.ActionLink("Delete", "DeleteRouteCard", new { id=item.RouteCarId })
        </td>
    </tr>
}

</table>

@{Html.RenderPartial("AddRouteCard", new SP_MVC.Models.RouteCardViewModel());}
